@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.navigation {

}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
  /* display: none; */
}

/* .nav-check:checked ~ .nav {
  display: block;
  list-style-type: none;
  padding: 0;
}

.nav-check:checked ~ .nav li {
  display: block;
  text-align: center;
} */

.nav li {
  display: block;
  background-color: #9CDAD0;
  width: 100%;
  text-align: center;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
}
